html,
body {
	font-family: "Red Hat Text", sans-serif;
	background-color: slategrey;
	color: #fafafa;
}

.grid-container {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
	width: 100vw;
	height: 100vh;
	align-content: stretch;
	justify-content: stretch;
}

.grid-container a {
	color: #222;
}

#controls {
	grid-row: 1;
	grid-column: 1;
}

#container {
	grid-row: 1;
	grid-column: 2;
	padding: 10px;
	margin-left: 10px;
}

span #count {
	font-weight: bold;
}

.grid-item {
	width: 250px;
	background-color: #fff;
	color: #222;
	box-shadow: #282828 0 0 7px;
	margin: 10px 0;
	padding: 10px;
}

h1 {
	text-transform: uppercase;
	font-size: 2.2em;
	text-shadow: #303235 2px -2px 0px;
	margin: 20px 0 10px 0;
}

h2 {
	margin-bottom: 2px;
}

h3 {
	line-height: 20px;
	font-size: 18px;
	margin-top: 18px;
	margin-bottom: 7px;
}

h2,
h3 {
	text-shadow: #303235 1px -1px 0;
}

#controls a {
	color: #fafafa;
	text-decoration: none;
	border-bottom: 1px solid #fafafa;
}

hr {
	border-top: 4px dotted #fafafa;
}

#showall {
	border-bottom: 1px solid #fafafa;
	cursor: pointer;
}
#showall:hover {
	border-bottom: 2px solid #fafafa;
}

.boxContainer {
	width: 100%;
}

.grid-item h2 {
	font-size: 16px;
	text-shadow: none;
	margin: 8px 0;
}

.grid-item img {
	max-width: 100%;
}

.tag {
	display: inline-block;
	padding: 0px 4px;
	margin: 3px 3px;
	color: #222;
	box-shadow: #55626f 1px -1px 0;
	border: 1px solid #424c55;
}

.geography_representation,
#filters
	#select_geography_representation
	input[type="checkbox"]:checked
	+ label {
	background-color: #d8f5ff;
}

.network_representation,
#filters #select_network_representation input[type="checkbox"]:checked + label {
	background-color: #fffdd3;
}

.integration,
#filters #select_integration input[type="checkbox"]:checked + label {
	background-color: #dcf0d1;
}

.interaction,
#filters #select_interaction input[type="checkbox"]:checked + label {
	background-color: #ebd1f0;
}

/*Checkboxes*/
div.checkbox-container {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#filters label {
	display: block;
	line-height: 52px;
	background-color: #fafafa;
	color: black;
	text-align: center;
	padding: 3px 5px;
	margin: 2px;
	border: black 1px solid;
}

#filters label span {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 5px;
	line-height: normal; /* Reset line-height for the child. */
	background: none;
}

#select_interaction label,
#select_network_representation label {
	width: 134px;
}

#select_geography_representation label,
#select_integration label {
	width: 84px;
}

#filters input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

#filters .legend_circle {
	content: "";
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	margin-right: 8px;
	border: 1px solid #34404a;
}

@media print {
	.grid-item {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid black;
	}

	a {
		display: none;
	}
}
