html,
body {
	margin: 15px;
	font-family: "Red Hat Text", sans-serif;
	background-color: slategrey;
	color: #fafafa;
}

.grid-item {
	width: 250px;
	background-color: #fff;
	color: #222;
	box-shadow: #282828 0 0 7px;
	margin: 10px 0;
	padding: 10px;
}

h1 {
	text-transform: uppercase;
	font-size: 3em;
	text-shadow: #303235 2px -2px 0px;
}

h2,
h3 {
	text-shadow: #303235 1px -1px 0;
}

.boxContainer {
	width: 100%;
}

.grid-item h2 {
	font-size: 16px;
	text-shadow: none;
}

.grid-item img {
	max-width: 100%;
}

.tag {
	display: inline-block;
	padding: 0px 4px;
	margin: 3px 3px;
	color: #222;
	box-shadow: #55626f 1px -1px 0;
	border: 1px solid #424c55;
}

.tag.paper_type {
	background-color: #e8e8e8;
}

.tag.geography_representation {
	background-color: #d8f5ff;
}

.tag.network_representation {
	background-color: #fffdd3;
}

.tag.integration {
	background-color: #dcf0d1;
}

.tag.interaction {
	background-color: #ebd1f0;
}

select {
	margin: 0 4px;
	padding: 4px;
	background-color: #fafafa;
	border: 2px solid #55626f;
	/*	border-color: #fafafa;
	border-radius: 3px;
	box-shadow: #282828 0 0 8px;*/
	font-family: "Red Hat Text", sans-serif;
	font-size: 0.9em;
}

@media print {
	.grid-item {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid black;
	}

	a {
		display: none;
	}
}
