html,
body {
	margin: 15px;
	font-family: "Karla", sans-serif;
	background-color: slategrey;
	color: #fff;
}

.grid-item {
	width: 250px;
	background-color: #fff;
	color: #222;
	box-shadow: #282828 0 0 11px;
	margin: 10px 0;
	padding: 10px;
}

h1 {
}

.boxContainer {
	width: 100%;
}

.grid-item h2 {
	font-size: 18px;
}

.grid-item img {
	max-width: 100%;
}

h3 {
}

.tag {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0px 4px;
	margin: 1px 1px;
	color: #222;
}

.tag.paper_type {
	background-color: #e8e8e8;
}

.tag.geography_representation {
	background-color: #d8f5ff;
}

.tag.network_representation {
	background-color: #fffdd3;
}

.tag.integration {
	background-color: #dcf0d1;
}

.tag.interaction {
	background-color: #ebd1f0;
}

@media print {
	.grid-item {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid black;
	}

	a {
		display: none;
	}
}
